@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* 기본세팅 */
*{margin: 0; padding: 0; box-sizing: border-box; outline-style: none;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}
img{vertical-align: middle; border: 0;}
html{font-size: 16px;}
body{font-family: "Roboto", "Noto Sans KR", sans-serif; font-size: 15px; line-height: 24px; letter-spacing: 0; font-weight: 400; color: #000; }

/* 공통요소 */
.clearfix::after{content: ""; display: block; position: relative; width: 100%; clear: both;}
.container{width: 1240px; padding: 0 20px; position: relative; display: block; margin: 0 auto;}

/* 전체레이아웃 */
.wrap{position: relative; display: block; padding-top: 128px; transition: .2s;}

/* 헤더 */
.header{position: fixed; top: 0; left: 0; width: 100%; display: block; background-color: #fff; border-bottom: 1px solid #eee; transition: 0.2s; z-index: 999; }
.header-top{position: relative; display: block; padding-top: 30px;}
.header-top-left{position: relative; float: left; font-size: 0; display: block;}
.logo{display: inline-block; position: relative; margin-right: 18px; }
.bt-schedule{position: relative; display: inline-block; font-size: 13px; color: #666; border: none; background-color: transparent; cursor: pointer; vertical-align: -4px;}
.bt-schedule img{vertical-align: -3px;}

.header-top-right{float: right; position: relative; display: block; padding-top: 3px;}
.track{position: relative; display: inline-block;}
.member-list{position: relative; display: inline-block; vertical-align: -9px;}
.member-list > li{position: relative; display: block; float: left; padding: 0 10px;}
.member-list > li:not(:last-child)::after{content: ""; position: absolute; top: 7px; right: 0; width: 1px; height: 8px; background-color: #ddd;}
.member-list > li:last-child{padding-right: 0;}
.member-list > li > a{position: relative; display: block; font-size: 13px; color: #666;}
/* center-more는 js연동 */
.center-more{}











/* 비주얼 */
/* 오늘의 상품 */
/* 알뜰 상품 */
/* 신상품 */
/* 추천물품 */
/* 인기물품 */
/* 브랜드관 */
/* 배너 */
/* 제철요리 */
/* 이용후기 */
/* 커뮤니티 */
/* 하단 */